html{
    background-color:#3587A4;
    font-family: Verdana;
}
form{
    width: 500px;
     height: 202px;
     margin: 0 auto; 
    background-color: #ffffff;
    border-radius: 4px;
    margin-top: 160px;
}
#formcontents{
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: 300px;
    height: 120px;
    margin-top: 50px;
    margin-left: 90px;
}
label, input{
    padding: 2px 2px 2px 2px;
    margin-top: 3px;
}

#subdiv{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 200px;
    margin: 0 auto;
}

#subdiv input{
    background-color: #0271BC;
    width: 120px;
    height: 28px;
    border-radius: 2px;
    border:none;
    cursor: pointer;
    margin-top: 5px;
    color:#ffffff;
    position: absolute;
}

#subdiv span{
    margin-top: 40px;
    font-size: 14px;
    color: red;
}

input[type=text], input[type=password] {
    border: 1px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    box-sizing: border-box;
    padding: 6px 10px;
}