.conteudo {
    margin-top: 50px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.row {
    margin-left: 10%;
    margin-right: 10%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-9 {
    width: 75%;
}

.huge {
    font-size: 40px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-primary {
    border-color: #337AB7;
}

.panel-green {
    border-color: #5CB85C;
}

.panel-red {
    border-color: #D9534F;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-5x {
    font-size: 5em;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.align-content div {
    display: inline-block;
    margin-top: 9px;
}

.textright {
    height: 100%;
    text-align: right;
    width: 73%;
    color: #fff;
}

.huge {
    font-size: 50px;
}

.sub-cont {
    width: 65px;
}

.sub-cont img {
    margin-left: 10px;
}

.blockfooter {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 10px;
    background-color: #F5F5F5;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.footerlink {
    text-decoration: none;
}

.blockfooter img {
    width: 17px;
    float: right;
}

#footerlink1:hover span {
    color: #3D8B3D;
}

#footerlink1:hover img {
    content: url("../Img/follow-button-green-hover.png")
}

#footerlink2:hover span {
    color: #23527C;
}

#footerlink2:hover img {
    content: url("../Img/follow-button-blue-hover.png")
}

#footerlink3:hover span {
    color: #B52B27;
}

#footerlink3:hover img {
    content: url("../Img/follow-button-red-hover.png")
}
