@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100); .linkname {
    text-decoration: none;
    font-family: 'Lato';
    color: #666B85;
}

.linkname:hover {
    color: white;
}

div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
}

th {
    color: #D5DDE5;
    background: #1b1e24;
    cursor: default;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 20px;
    font-weight: 50;
    padding: 16px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(6, 38, 182, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 13px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
}

tr:hover .linkname {
    background: #4E5066;
    color: #FFFFFF;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover td {
    background: #4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 50;
    font-size: 19px;
    max-width: 40px;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    text-overflow: ellipsis; 
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

.pagination {
    margin-top: 10px;
    float: right;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #0075C8;
    color: white;
    border: 1px solid #0075C8;
}
.pagination a:hover{
    text-decoration:  none;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.filter{
    left: 90%;
}
.filter-body{
    float: right;
    width: 400px;
}
.filter label{
    margin-left: 2px;
    margin-right: 2px;
}
.filter select{
    width: 60px;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

#openfilters{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

#filtro-avancado{
    display: none;
    right: 5%;
    padding: 17px;
    height: 260px;
    width: 430px;
    background: white;
    position:absolute;
    border-radius: 3px;
    border: 2px solid rgba(0, 139, 186, 0.603);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#pointer-filtro{
    content: "";
    position: absolute;
    bottom: 100.8%;
    right: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 139, 186, 0.603) transparent;
}

#filtro-avancado button{
    position: relative;
    margin-left: 60px;
    margin-top: 10px;
    width: 250px;
    position:absolute;
    padding: 7px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: 2px solid #0cade2;
    border-radius: 35px;
    color: #0cade2;
    outline:none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

#filtro-avancado button:hover{
    background-color: #0cade2;
    color: white;
}

#filtro-avancado input{
    border-radius: 3px;
    width: 150px;
    border: 1px solid #ccc;
}

.filtro-content{
    margin: 9px;
    list-style: none;
    display: flex;
    flex-direction: row;  
}
.filtro-content input{
    margin-left: 5px;
    margin-right: 5px;
}

#primeiro-filtro {
    padding-bottom: 15px;
}