*{
    box-sizing: border-box;
}
body {
    background-color: #EDE7F6;
    font-family: 'Helvetica';
     font-style: normal; 
     font-size: 26px;
      font-weight: 400; 
      margin: 0px;
}
div[style*="margin: 16px 0;"] 
{ margin: 0 !important; }

div.stars, div.startwo {
    display: inline-block;
}

input.star, input.startwo {
    display: none;
}

label.star, label.startwo {
    float: right;
    padding: 10px;
    font-size: 3vw;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before, input.startwo:checked ~ label.startwo:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before, input.startwo-5:checked ~ label.startwo:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before, input.startwo-1:checked ~ label.startwo:before {
    color: #F62;
}

label.star:hover, label.startwo:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before, label.startwo:before {
    content: '\f006';
    font-family: FontAwesome;
}
@media not screen and (min-width: 500px)
{
    label{
        font-size: 15px;
    }
    img{
        height: 50px;
    }
}
    #btnsender {
    background-color: #4CAF50;
    font-size: 20px;
    font-family: Helvetica;
    color: #ffffff;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    width: 140px;
    height: 42px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 2px #999;
}
    #btnsender:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
    }

    #btnsender:hover {
        background-color: #3e8e41;
    }

    #btnsender:active {
        background-color: #3e8e41;
        box-shadow: 0 1px #666;
        transform: translateY(4px);
    }

.buttondiv {
    position: relative;
    align-content: center;
    float: right;
    padding: 10px 10px 10px 10px;
}

.divbtnsender {
    bottom: 0;
}
.headdivcontainer {
    position: relative;
    height: 135px;

    background-color: #0064C8;
}

.headerdiv {
    left: 0;
    position: absolute;
    right: 0;
}

.headdivbottom {
    margin: auto;
    width: 51%;
    min-width: 300px;
    height: 120px;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 5px 0px 0px #5684C3;
}
.frmmain {
    min-width: 300px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #888888;
    border: 0;
    width: 51%;
    height: 510px;
    margin: 0 auto;
    top:0;
    line-height: 1.4em;
    font-family: Lato;
}
.squares {
    height: 140px;
    border-bottom: 1px solid #D6D6D6;
    position: relative;
    width: 100%;
    padding: 1px 60px 10px 30px;
}
textarea{
    resize: none; 
    font-family: Lato;
    font-size: 16px;
    margin-top: 10px;
    height: 90%;
    width: 90%;
    position: relative; 
    padding: 5px 1px;
 }
.topheader, img {
    height: 100%;
}

#lasttopic {
    height: 180px;
    position: relative;
    padding: 10px 3px 10px 30px;
}

.labelsfield {
    margin-top: 10px;
    width: 100%;
    font-size: 2vw;
}
#firstlabelfield{
    font-size: 30px;
}
.contact {
    color: #EDE7F6;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 10px;
    position: relative;
    font-weight: 1.4em;
    top: 4px;
    padding: 0px 0px 0px 4px;
}

.required {
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-bottom: none;
    font-size: 30px;
    color: red;
}

.msgrequired {
    font-size: 16px;
}

.required .msgrequired {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 150%;
    opacity: 0;
    transition: opacity 1s;
}

    .required .msgrequired::after {
        content: "";
        position: absolute;
        top: 40%;
        right: 100%;
        margin-left: -90px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #555 transparent transparent;
    }

.required:hover .msgrequired {
    visibility: visible;
    opacity: 1;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -800px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    height: 120px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    z-index: 1;
    border-top: 8px solid #3498db;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: relative;
    margin-top: 14px;
    left: 40%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* MOBILE STYLES */
@media screen and (max-width:600px) {
    h1 {
        font-size: 32px !important;
        line-height: 32px !important;
    }
}
.radioyesno {
padding: 10px;
width: 300px;
display: inline-block;
position: relative;
}
.buttonsradios {
    width: 90px;
    position: relative;
    left: 0;
    display: inline-block;
}

.radioinput {
padding: 10px;
}
.radios {
    position: absolute;
    visibility: hidden;
}
.radiolabels {
    display: inline-block;
    position: relative;
    padding: 0 30px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}
    .radiolabels:hover {
        color: #006EBB;
    }
.check {
    position: relative;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    position: relative;
    left: 0;
    top: -36px;
    display: inline-block;
}
.buttonsradios:hover .check {
    border: 5px solid #006EBB;
}
    .check:before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 20px;
        width: 20px;
        left: -2px;
        top: -1px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
    }

.radioyesno [type=radio]:checked ~ .check {
    border: 5px solid #0054BB;
}

.radioyesno input[type=radio]:checked ~ .check::before {
    background: #0054BB;
}

.radioyesno input[type=radio]:checked ~ label {
    color: #0054BB;
}

#txtopnion{
  resize: none;
     font-family: 'Helvetica';
     font-style: normal; 
     font-size: 20px;
  margin-top: 10px;
  height: 150px;
  position: relative;
  padding: 10px 3px 10px 30px;
}